.not-found {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #FFF;
    /* display: flex; */
    text-align: center;
    align-items: center;
}

.tp-m {
    margin-top: 20%;
}

.btn-action {
    display: flex;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0 !important;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .display-1 {
        margin-top: 55%;
        font-size: 3rem !important;
    }
  }